// NOTE: This is generated code and should NOT be edited for any reason.
// If an error occurs with the generated code, submit a PR into 
// https://github.com/MSDOStoevsky/tag-api-codegen, or alter the 
// project locally if forked.

import * as ApiModelTypes from "./apiModelTypes";


/**
 * Supported field types.
 */
export enum FieldType {
	NUMBER = "NUMBER",
	STRING = "STRING",
	BOOLEAN = "BOOLEAN",
	ARRAY = "ARRAY",
	OBJECT = "OBJECT",
	ENUM = "ENUM",
	UNDEFINED = "UNDEFINED"
}

/**
 * The runtime-level field metadata.
 */
export interface FieldConfig {
    /**
     * {@see FieldType}.
     */
    fieldType: FieldType;
    /**
     * The default value.
     */
    default: any;
    /**
     * The parameter description.
     */
    description: string;
    /**
     * The parameter units.
     */
    units: string | undefined;
    /**
     * The parameter format
     * Undefined if there is no format declared.
     */
    format: string | undefined;
    /**
     * The minumum value of the field.
     * Undefined if there is no minimum.
     */
    minimum: number | undefined;
    /**
     * The maximum value of the field.
     * Undefined if there is no maximum.
     */
    maximum: number | undefined;
	/**
	 * Options available if the fieldType is of type {@link FieldType.ENUM}.
     * Undefined if the fieldType is not of type {@link FieldType.ENUM}.
	 */
	options: Array<string> | undefined;
}

/**
 * A map of field keys to a field configuration map.
 */
export type ApiModelProperties<T> = Record<keyof T, FieldConfig>;

/**
 * The generic type of an Api model metadata.
 */
export interface ApiModel<T> {
	/**
     * The name of the model.
	 */
    MODEL_NAME: string;
	/**
     * The properties of this model.
	 */
    MODEL_PROPERTIES: ApiModelProperties<T>;
}

{{#MODELS}}
/**
 * {{MODEL_DESCRIPTION}}
 */
export const {{MODEL_NAME}}: ApiModel<ApiModelTypes.{{MODEL_NAME}}> = {
    MODEL_NAME: "{{MODEL_NAME}}",
    MODEL_PROPERTIES: {
        {{#MODEL_PROPERTIES}}
        /**
        * {{PROPERTY_DESCRIPTION}}
        * {@see ApiModelTypes.{{MODEL_NAME}}.{{PROPERTY_NAME}}}
        */
        {{PROPERTY_NAME}}: {
            fieldType: FieldType.{{{PROPERTY_TYPE}}},
            default: {{{PROPERTY_DEFAULT}}},
            description: "{{PROPERTY_DESCRIPTION}}",
            format: {{^PROPERTY_FORMAT}}undefined{{/PROPERTY_FORMAT}}{{#PROPERTY_FORMAT}}"{{.}}"{{/PROPERTY_FORMAT}},
            units: {{^PROPERTY_UNITS}}undefined{{/PROPERTY_UNITS}}{{#PROPERTY_UNITS}}"{{.}}"{{/PROPERTY_UNITS}},
            minimum: {{^PROPERTY_MINIMUM}}undefined{{/PROPERTY_MINIMUM}}{{PROPERTY_MINIMUM}},
            maximum: {{^PROPERTY_MAXIMUM}}undefined{{/PROPERTY_MAXIMUM}}{{PROPERTY_MAXIMUM}},
            options: {{^PROPERTY_OPTIONS}}undefined{{/PROPERTY_OPTIONS}}{{#PROPERTY_OPTIONS}}[{{#ITEMS}}"{{.}}",{{/ITEMS}}],{{/PROPERTY_OPTIONS}}
        },
        {{/MODEL_PROPERTIES}}
    }
};

{{/MODELS}}