// NOTE: This is generated code and should NOT be edited for any reason.
// If an error occurs with the generated code, submit a PR into 
// https://github.com/MSDOStoevsky/tag-api-codegen, or alter the 
// project locally if forked.
/* eslint-disable  @typescript-eslint/no-empty-interface */

{{#MODELS}}
/**
 * {{MODEL_DESCRIPTION}}
 */
export interface {{MODEL_NAME}} {
    {{#MODEL_PROPERTIES}}
    /**
     * {{PROPERTY_DESCRIPTION}}
     */
    {{#PROPERTY_READONLY}}readonly {{/PROPERTY_READONLY}}{{PROPERTY_NAME}}{{#PROPERTY_OPTIONAL}}?{{/PROPERTY_OPTIONAL}}: {{{PROPERTY_TYPE}}};
    {{/MODEL_PROPERTIES}}
}

{{/MODELS}}

{{#TYPES}}
/**
 * {{TYPE_DESCRIPTION}}
 */
export type {{TYPE_NAME}} = {{TYPE}};

{{/TYPES}}

{{#ENUMS}}
/**
 * {{ENUM_DESCRIPTION}}
 */
export enum {{ENUM_NAME}} {
    {{#ENUM_ENTRIES}}
    "{{{ENUM_KEY}}}"={{{ENUM_VALUE}}},
    {{/ENUM_ENTRIES}}
}

{{/ENUMS}}