// NOTE: This is generated code and should NOT be edited for any reason.
// If an error occurs with the generated code, submit a PR into 
// https://github.com/MSDOStoevsky/tag-api-codegen or alter the 
// project locally if forked.
/* eslint-disable  @typescript-eslint/no-empty-interface */
/* eslint-disable  @typescript-eslint/no-unused-vars */
import * as ApiModelTypes from "{{{TYPES_DIRECTORY}}}";
import axios, { AxiosResponse, CancelToken{{^IS_AXIOS_VERSION_ZERO}}, RawAxiosRequestHeaders{{/IS_AXIOS_VERSION_ZERO}} } from "axios";

/**
 * The service base path.
 */
const BASE_PATH = {{{BASE_PATH}}};

{{#FUNCTIONS}}
{{#FUNCTION_PARAMS}}
/**
 * The path parameters for the {@link {{FUNCTION_NAME}}} function.
 */
export interface {{FUNCTION_NAME}}Params {
	{{#FUNCTION_PARAM_CONFIGS}}
	/**
	 * {{FUNCTION_PARAM_DESCRIPTION}}
	 */
	{{FUNCTION_PARAM}}{{^FUNCTION_PARAM_REQUIRED}}?{{/FUNCTION_PARAM_REQUIRED}}: string;
	{{/FUNCTION_PARAM_CONFIGS}}
}
{{/FUNCTION_PARAMS}}

{{#QUERY_PARAMS}}
/**
 * The query parameters for the {@link {{FUNCTION_NAME}}} function.
 */
export interface {{FUNCTION_NAME}}QueryParams {
	{{#QUERY_PARAM_CONFIGS}}
	/**
	 * {{QUERY_PARAM_DESCRIPTION}}
	 */
	{{QUERY_PARAM}}{{^QUERY_PARAM_REQUIRED}}?{{/QUERY_PARAM_REQUIRED}}: string;
	{{/QUERY_PARAM_CONFIGS}}
}
{{/QUERY_PARAMS}}

/**
 * {{FUNCTION_SUMMARY}}
 * @param params - The request parameters (or undefined).
 * @param payload - the request payload (or undefined).
 * @param headers - the request headers.
 * @param cancelToken - optional cancel token to cancel this request.
 * @param queryParameters - optional request query parameters (or undefined).
 * @param basePathOverride - optional override to the base path.
 * @returns api request configuration data.
 */
export function {{FUNCTION_NAME}}(
	params: {{^FUNCTION_PARAMS}}undefined{{/FUNCTION_PARAMS}}{{#FUNCTION_PARAMS}}{{FUNCTION_NAME}}Params{{/FUNCTION_PARAMS}},
	payload: {{^FUNCTION_PAYLOAD}}undefined{{/FUNCTION_PAYLOAD}}{{#FUNCTION_PAYLOAD}}{{{.}}}{{/FUNCTION_PAYLOAD}},
	headers: {{^IS_AXIOS_VERSION_ZERO}}RawAxiosRequestHeaders{{/IS_AXIOS_VERSION_ZERO}}{{#IS_AXIOS_VERSION_ZERO}}Record<string, unknown>{{/IS_AXIOS_VERSION_ZERO}},
	cancelToken?: CancelToken,
	queryParameters?: {{#QUERY_PARAMS}}{{FUNCTION_NAME}}QueryParams{{/QUERY_PARAMS}} | undefined,
	basePathOverride?: string
): Promise<AxiosResponse<{{{FUNCTION_RESPONSE}}}>> {
	return axios.request<{{{FUNCTION_RESPONSE}}}>({
		headers: headers,
		baseURL: `${basePathOverride || BASE_PATH}`,
		url: `{{{REQUEST_PATH}}}`,
		method: "{{REQUEST_METHOD}}",
		params: queryParameters,
		data: payload,
		cancelToken: cancelToken
	});
}
{{/FUNCTIONS}}