// NOTE: This is generated code and should NOT be edited for any reason.
// If an error occurs with the generated code, submit a PR into 
// https://github.com/MSDOStoevsky/tag-api-codegen or alter the 
// project locally if forked.
import * as ApiModelTypes from "../apiModelTypes";

/**
 * The service base path.
 */
const BASE_PATH = "{{{BASE_PATH}}}";

{{#FUNCTIONS}}
/**
 * The path parameters for the {@link {{FUNCTION_NAME}}} function.
 */
export interface {{FUNCTION_NAME}}Params {
	{{#FUNCTION_PARAMS}}
	/**
	 * {{FUNCTION_PARAM_DESCRIPTION}}
	 */
	{{FUNCTION_PARAM}}: {{FUNCTION_PARAM_TYPE}};
	{{/FUNCTION_PARAMS}}
}

/**
 * {{FUNCTION_SUMMARY}}
{{#FUNCTION_PARAMS}}
 * @param {{FUNCTION_PARAM}} - {{FUNCTION_PARAM_DESCRIPTION}}
{{/FUNCTION_PARAMS}}
 * @returns api request configuration data.
 */
export function {{FUNCTION_NAME}}(
	params: {{FUNCTION_NAME}}Params,
	payload: {{^FUNCTION_PAYLOAD}}undefined{{/FUNCTION_PAYLOAD}}{{#FUNCTION_PAYLOAD}}{{.}}{{/FUNCTION_PAYLOAD}}
): ApiRequestConfig<{{^FUNCTION_PAYLOAD}}undefined{{/FUNCTION_PAYLOAD}}{{#FUNCTION_PAYLOAD}}{{.}}{{/FUNCTION_PAYLOAD}}> {
	return {
		path: `${BASE_PATH}{{{REQUEST_PATH}}}`,
		method: "{{REQUEST_METHOD}}",
		payload: payload
	};
}

{{/FUNCTIONS}}
/**
 * Configuration data to form an api request around this path.
 */
interface ApiRequestConfig<T> {
	/**
	 * The api endpoint path.
	 */
	path: string;
	/**
	 * The HTTP request method.
	 */
	method: "get" | "post" | "delete" | "patch" | "put";
	/**
	 * The request payload
	 */
	payload: T;
}